<%= render 'page_header' %>

<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <table class="table table-bordered table-striped mb-none", id="datatable-auto", data-source="<%= autos_path(format: :json) %>">
          <thead>
          <tr>
            <th>№</th>
            <th>Тип</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год</th>
            <th>Гос. номер</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
